body {
	--bg: #fff;
	--fg: #000;
	--accent: #005500;

	font-family: "Inter", sans-serif;
	line-height: 1.5;
	font-size: 18px;

	background-color: var(--accent);
	padding: 30px;
}

main {
	background-color: var(--bg);
	color: var(--fg);

	max-width: 800px;
	margin: auto;
	padding: 30px;

	border-radius: 5px;
}

i {
	font-style: italic;
}

b {
	font-weight: 700;
}

em {
	font-weight: 700;
	color: var(--accent);
}

h2,
p,
li {
	margin-bottom: 10px;
}

h1 {
	color: var(--accent);
	text-align: center;
	font-size: 1.8em;
	font-weight: 800;

	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dashed var(--accent);
}

h2 {
	margin-top: 20px;
	font-size: 1.4em;
	color: var(--accent);
	font-weight: 700;
}

ul {
	list-style-type: disc;
	margin-left: 30px;
}

ol {
	list-style-type: numeric;
	margin-left: 30px;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.actions {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
	gap: 30px;
}

.actions a {
	font-size: 1.1em;
}

.actions span {
	display: block;
	font-size: 0.7em;
}

.important {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
}

.important span:first-child {
	font-weight: 700;
	color: var(--accent);
}
